---
- name: Determine distro-specific package names
  ansible.builtin.set_fact:
    wireguard_client_packages: >-
      {{ ['NetworkManager','wireguard-tools'] if ansible_facts['os_family'] == 'RedHat' else ['network-manager','wireguard-tools'] }}

- name: Install required packages
  ansible.builtin.package:
    name: "{{ wireguard_client_packages }}"
    state: present

- name: Ensure NetworkManager is running
  ansible.builtin.systemd:
    name: NetworkManager
    state: started
    enabled: true

- name: Load WireGuard kernel module
  community.general.modprobe:
    name: wireguard
    state: present
...
